body{
    font-family: 'Pacifico', cursive;
    height: 97.7%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.box{
  margin-top: 10%;
  font-family: 'Pacifico', cursive;
}
input{
  padding: 5%;
}
.address{
  padding: 0;
  margin: 0;
}